# Caso práctico Video Game Sales

Descargar dataset de Kaggle: https://www.kaggle.com/gregorut/videogamesales

Importante: usar el dataset CSV proporcionado para este ejercicio ya que contiene valores nulos creados para el apartado de valores faltantes.

## Importar librerías

Importar pandas

In [74]:
import pandas as pd

## Carga de datos CSV

In [75]:
df = pd.read_csv('../data/vgsales_caso_practico.csv')

## Inspección de los datos

Verifica los primeros registros del conjunto de datos y obtén un resumen de las estadísticas generales.

In [76]:
df.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [77]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16596.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.535448
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.537945
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

## Tratamiento de valores faltantes

Verifica si hay valores faltantes y, si es necesario, realiza el tratamiento adecuado para cada caso.

In [78]:
data = pd.Series([1, None, 3, 4, None])
data.isnull

<bound method Series.isnull of 0    1.0
1    NaN
2    3.0
3    4.0
4    NaN
dtype: float64>

## Estadísticas de agrupación

Agrupa los datos por la columna 'Platform' y calcula las ventas totales para cada plataforma.

In [82]:
df.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [80]:
ventas_totales = df.groupby('Platform').sum()
print(ventas_totales)

              Rank       Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Platform
2600        585665   229928.0     90.60      5.47      0.00         0.91
3DO          43118     5984.0      0.00      0.00      0.10         0.00
3DS        4662644  1006531.0     78.87     58.52     97.35        12.63
DC          456114   103997.0      5.43      1.69      8.56         0.27
DS        20845831  4283493.0    390.71    194.65    175.57        60.53
GB          332419   193608.0    114.32     47.82     85.12         8.20
GBA        7136749  1624604.0    187.54     75.25     47.33         7.73
GC         4817401  1085843.0    133.46     38.71     21.58         5.18
GEN         190019    53812.0     19.27      5.52      2.67         0.89
GG           13527     1992.0      0.00      0.00      0.04         0.00
N64        2083189   631536.0    139.02     41.06     34.22         4.38
NES         186831   194741.0    125.94     21.15     98.65         5.31
NG          127988    23934.0      0.00      0.00      1.44         0.00
PC        10980787  1894273.0     93.28    139.68      0.17        24.86
PCFX         14559     1996.0      0.00      0.00      0.03         0.00
PS         8322033  2375627.0    336.51    213.60    139.82        40.91
PS2       16159167  4263750.0    583.84    339.29    139.20       193.44
PS3        9027970  2622109.0    392.26    343.71     79.99       141.93
PS4        2562189   677042.0     96.80    123.70     14.30        43.36
PSP       12615047  2404440.0    108.99     68.25     76.79        42.19
PSV        4732241   829782.0     16.20     16.33     20.96         8.45
SAT        1614771   345313.0      0.72      0.54     32.26         0.07
SCD          61031    11963.0      1.00      0.36      0.45         0.05
SNES       1516804   476529.0     61.23     19.04    116.55         3.22
TG16         24763     3990.0      0.00      0.00      0.16         0.00
WS           47273    12000.0      0.00      0.00      1.42         0.00
Wii       10243276  2591562.0    507.71    268.38     69.35        80.61
WiiU       1109142   287944.0     38.32     24.23     12.79         6.45
X360       8466048  2482205.0    601.05    280.58     12.43        85.54
XB         7219276  1608920.0    186.69     60.95      1.38         8.72
XOne       1575574   429150.0     83.19     45.65      0.34        11.92

          Global_Sales
Platform
2600             97.08
3DO               0.10
3DS             247.46
DC               15.97
DS              792.48
GB              255.45
GBA             318.50
GC              199.36
GEN              28.36
GG                0.04
N64             218.88
NES             251.07
NG                1.44
PC              258.82
PCFX              0.03
PS              730.66
PS2            1251.50
PS3             957.84
PS4             278.10
PSP             296.28
PSV              61.93
SAT              33.59
SCD               1.87
SNES            200.05
TG16              0.16
WS                1.42
Wii             926.71
WiiU             81.86
X360            979.96
XB              258.26
XOne            141.06

C:\Users\Malala Severien\AppData\Local\Temp\ipykernel_29424\1779111725.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ventas_totales = df.groupby('Platform').sum()

## Visualización de datos

Crea un gráfico de barras para mostrar las ventas globales por plataforma.

In [86]:
df.sort_values('Platform', ascending=False).head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15052,15055,NASCAR Heat Evolution,XOne,2016.0,Racing,Dusenberry Martin Racing,0.02,0.0,0.0,0.0,0.02

In [ ]:
df_barras = df.sort_values('Global_Sales', ascending=False).iloc[:10]

df_barras.plot(kind='bar', x='District', y='Population', rot=45)

## Creación de nuevas características

Crea una nueva característica 'Sales_in_Millions' para hacer que las ventas sean más legibles, que muestre las ventas totales pero en millones.

## Agrupación avanzada:

Agrupa por 'Year' y 'Platform' y calcula las ventas totales.

## Tratamiento de columnas de texto

Transforma el género en una variable categórica numerada.

## Correlación entre características

Examina la correlación entre las ventas en diferentes regiones utilizando la función corr() de pandas.

## Operaciones con strings

Crea una nueva característica que contenga la primera letra del nombre del juego

## Recuento

Cuenta cuántos juegos comienzan con cada letra.

## Ordenación de datos

Ordena el DataFrame por ventas globales en orden descendente.

## Reset de índice

Si en algún momento hemos filtrado el DataFrame o lo hemos alterado de manera que el índice ya no es una secuencia continua de enteros, puede ser útil restablecer el índice.

## Eliminación de columnas innecesarias

Podemos eliminar columnas que no necesitaremos para futuros análisis. Por ejemplo, podemos eliminar la columna 'Rank'.

## Identificación de Outliers

Podemos usar el método del rango intercuartil (IQR) para detectar outliers en la columna 'Global_Sales'.

Elimina los outliers u obtén un dataframe sin outliers en la columna GlobalSales.

## Uso de apply para operaciones de columna

Supongamos que queremos crear una nueva columna que sea GlobalSales pero con el IVA añadido, por ejemplo global_sales_iva

## Uso de iloc para seleccionar datos

iloc es útil para seleccionar filas y columnas por posición. Por ejemplo, si queremos seleccionar las primeras 5 filas y las primeras 3 columnas.

## Guardar DataFrame

Finalmente, guardamos el DataFrame con todas las nuevas características y transformaciones en un nuevo archivo CSV.