# < caso practico Numpy >
### videojuegos

### 1- Introduccíon

IMPORTACIÓN DE NUMPY Y PANDAS PARA TRABAJAR CON ELLOS Y ABRIR EL ARCHIVO CSV

In [91]:
import numpy as np
import pandas as pd

VERSIÓN DE NUMPY INSTALADO

In [92]:
print(np.__version__)

1.25.0

LEER EL ARCHIVO CSV

In [93]:
df = pd.read_csv('../data/vgsales.csv')
df.head(2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

# Cargar Datos

In [94]:
array1 = df['Rank'].values
array2 = df['Name'].values
array3 = df['Platform'].values
array4 = df['Year'].values
array5 = df['Genre'].values
array6 = df['Publisher'].values
array7 = df['NA_Sales'].values
array8 = df['EU_Sales'].values
array9 = df['JP_Sales'].values
array10 = df['Other_Sales'].values
array11 = df['Global_Sales'].values

# Ejercicios

### 3.1. Análisis Descriptivo de las Ventas Globales

In [95]:
type(array11)

numpy.ndarray

In [96]:
Ventas_Globales = array11

PROMEDIO

In [97]:
Ventas_promedio = np.mean(Ventas_Globales)
print('Venta promedio es :', Ventas_promedio)

Venta promedio es : 0.5374406555006628

MEDIANA

In [98]:
Ventas_mediana = np.median(Ventas_Globales)
print('Venta mediana es :', Ventas_mediana)

Venta mediana es : 0.17

MODA

In [99]:
from scipy import stats

In [100]:
Ventas_moda = stats.mode(Ventas_Globales)
print('Venta moda es :', Ventas_moda)

Venta moda es : ModeResult(mode=0.02, count=1071)

DESVIACIÓN

In [101]:
Ventas_estandar = np.std(Ventas_Globales)
print('Desviación estandar es :', Ventas_estandar)

Desviación estandar es : 1.5549810910296606

### 3.2 Análisis de Ventas por Género

LOS TRES GÉNEROS DE VIDEOJUEGOS QUE GENERAN LAS MAYORES VENTAS GLOBALES

In [102]:
generos = array5
Ventas_Globales = array11

In [104]:
Ventas_mayor = {}

for in range(len(generos)):
    genero = generos[i]
    ventas = ventas[i]
    
    if genero in ventas_generos:
        ventas_generos += ventas
        
    else:
        ventas_generos = ventas_generos

SyntaxError: invalid syntax (2444347535.py, line 1)